<link rel="stylesheet" href="/api/v1/pages/styles/forgetpassword.css">

<div class="formheader">
    <form>
        <h2><span>Please insert yo</span>ur email</h2>
        <input type="email" name="email" id="email">
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/api/v1/pages/script/forgetpassword"></script>