<!-- @format -->
<link rel="stylesheet" href="/api/v1/pages/styles/loginpage.css" />
<!-- loginform -->
<div class="login">
  <h1>Login form</h1>
  <p class="msg"></p>
  <form>
    <input type="email" name="email" id="email" placeholder="email" />
    <br />
    <br />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="password"
    />
    <br />
    <button type="submit">submit</button>
    <div class="a-s">
      <a href="/api/v1/pages/signup">Signup</a>/<a href="/api/v1/pages/forgetpassword">Forget-password</a>
    </div>
  </form>
</div>

<script src="/api/v1/pages/script/login.js"></script>
