<!-- @format -->
<link rel="stylesheet" href="/api/v1/pages/styles/signuppage.css" />

<!-- signupForm -->
<div class="signup">
  <h1>Signup form</h1>
  <p class="msg"></p>
  <form action="/api/v1/auth/signup" method="post" enctype="multipart/form-data">
    <input type="email" name="email" id="email" placeholder="email" />
    <br />
    <br />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="password"
    />
    <br />
    <br />
    <input type="file" name="avatar" id="avatar" />
    <br>
    <button type="submit">submit</button>
    <a href="/api/v1/pages/login">login</a>
  </form>
</div>

<script src="/api/v1/pages/script/signup.js"></script>
