<!-- @format -->

<link rel="stylesheet" href="/api/v1/pages/styles/userdetail.css" />

<div class="userdetail">
  <h1>User details</h1>
  <p class="msg"></p>
  <form action="/api/v1/pages/signup" method="post" enctype="multipart/form-data">
    <input type="text" name="username" id="username" placeholder="user name" disabled/>
    <br />
    <br />
    <input type="email" name="email" id="email" placeholder="email" disabled/>
    <br />
    <br />
    <input type="text" name="paste_link" id="paste_link" placeholder="Paste url e.g http://"/>
    <br />
    <button type="submit">submit</button>
    <a href="/api/v1/pages/login">login</a>
  </form>
</div>

<script src="/api/v1/pages/script/userdetails.js"></script>
