<!-- @format -->

<link rel="stylesheet" href="/user/v1/styles/style.css" />

<!-- landing page -->

<header class="logo">
  <h1>viindo_Technology</h1>
  <div class="btn">
    <button type="button"><a href="/user/v1/login">loginPage</a></button>
    <button type="button"><a href="/user/v1/signup">singupPage</a></button>
  </div>
</header>

<div class="image">
  <img src="/user/v1/image/viindo.jpg" alt="viindo" />
  <h1>QuizApp</h1>
</div>

<script src="/user/v1/script/script.js"></script>

<!-- <h1>Welcome to the landing page</h1>
-->
