<!-- @format -->
<link rel="stylesheet" href="/user/v1/styles/loginpage.css">
<!-- loginform -->
<div class="login">
    <h1>Login form</h1>
     <p class="msg"></p>
    <form>
        <input type="email" name="email" id="email" placeholder="email">
        <br>
        <br>
        <input type="password" name="password" id="password" placeholder="password">
        <br>
        <button type="submit">submit</button>
        <a href="/user/v1/signup">signup</a>
    </form>
</div>


<script src="/user/v1/script/login.js"></script>
