<!-- @format -->


<!-- @format -->
<link rel="stylesheet" href="/api/v1/pages/styles/username.css">


<!-- signupForm -->
<div class="username">
    <h1>Input Username</h1>
    <p class="msg"></p>
    <form action="/api/v1/auth/username" method="post">
        <input type="text" name="username" id="username" placeholder="username">
        <br>
        <button type="submit">submit</button>
    </form>
</div>


<script src="/api/v1/pages/script/username.js"></script>